@use 'breakpoint' as *;

// Montserrat Variable Font Faces
@font-face {
  font-style: normal;
  font-weight: 100 900;
  src:
    local('Montserrat Variable'),
    url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype-variations');
  font-family: 'Montserrat';
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 100 900;
  src:
    local('Montserrat Variable Italic'),
    url('/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-family: 'Montserrat';
  font-display: swap;
}

@layer base {
  p {
    text-wrap: pretty;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    text-wrap: balance;
  }

  h1,
  h2 {
    font-weight: 600;
  }

  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  h1 {
    font-size: var(--font-size-6);
    line-height: var(--font-size-7);
  }

  h2 {
    font-size: var(--font-size-5);
    line-height: var(--font-size-6);
  }

  h3 {
    font-size: var(--font-size-4);
    line-height: var(--font-size-5);
  }

  h4 {
    font-size: var(--font-size-3);
    line-height: var(--font-size-4);
  }

  h5 {
    font-size: var(--font-size-2);
    line-height: var(--font-size-3);
  }

  h6 {
    font-size: var(--font-size-1);
    line-height: var(--font-size-2);
  }
}
