---
import DefaultLayout from '@layouts/DefaultLayout.astro'
---

<DefaultLayout title="Card">
  <section class="my-12">
    <div class="container">
      <h1>Pandion Labs digital card</h1>
    </div>
  </section>
</DefaultLayout>

<script>
  window.location.href = '/'
</script>
