---
import CallToAction from '@components/CallToAction.astro'
import DefaultLayout from '@layouts/DefaultLayout.astro'
import ServicesHero from '@components/ServicesHero.astro'
import FeaturesList from '@components/FeaturesList.astro'
import LineSeparator from '@components/LineSeparator.astro'
import GradientBorder from '@components/GradientBorder.astro'

const heroIcons = [
  { name: 'lucide:grid-3x3' }, // Custom solutions icon
  { name: 'lucide:code' },
  { name: 'lucide:bar-chart-2' },
  { name: 'lucide:database' },
]

const features = [
  { iconName: 'lucide:bar-chart-2', text: 'Data science and data analysis' },
  { iconName: 'lucide:brain', text: 'Deep Learning model development (Computer Vision, LLM)' },
  { iconName: 'lucide:layout', text: 'Website and mobile app development' },
  { iconName: 'lucide:plug', text: 'REST API and backend services' },
  { iconName: 'lucide:database', text: 'Databases and data management' },
  { iconName: 'lucide:cloud', text: 'Cloud infrastructure, GIS and spatial data' },
]
---

<DefaultLayout title="Customized Solutions">
  <ServicesHero pretitle="Customized" title="SOLUTIONS" icons={heroIcons}> Got a problem? Try us. </ServicesHero>

  <section class="container my-12">
    <p>
      At Pandion Labs, our mission is to make environmental data more accessible. We provide tailored support for
      quantification, digitalisation, visualisation and advice to inform sustainable decision-making. We can supercharge
      your data collection workflows, create custom analysis apps, and automate repetitive tasks. We can make your data
      accessible with beautiful graphics, engaging reports, interactive dashboards, and bespoke APIs.
    </p>

    <FeaturesList features={features} />
  </section>
  <LineSeparator />
  <section id="the-pandion-labs-difference" class="container my-24">
    <h2 class="mb-6">The Pandion Labs difference</h2>
    <p>
      We are a team of data scientists, software engineers, ecologists, and researchers building
      end-to-end solutions to inform sustainability projects, from raw data processing to dissemination. Our primary
      focus areas are precision forestry, biodiversity monitoring, and quantitative ecology.
    </p>
    <div class="my-12 grid grid-cols-1 gap-12 md:grid-cols-2">
      <GradientBorder title="Experience">
        <ul>
          <li>
            We bring over three decades of combined scientific and industry experience, as well as software engineering
            and data science skills.
          </li>
          <li>
            We can relate to your scientific experience, and we have the business savvy and tech background to
            supercharge your projects from start to finish.
          </li>
          <li>
            As a small, boutique consultancy, we can provide our clients and partners with one-on-one, personalized
            solutions that fit your needs.
          </li>
        </ul>
      </GradientBorder>
      <GradientBorder title="Values">
        <ul>
          <li>
            <strong>Science and sustainability first.</strong> We practice scientific integrity and incorporate scientific
            knowledge and methods at every opportunity. We only work with partners that share our commitment to the scientific
            method and to sustainable practices.
          </li>
          <li>
            <strong>Honesty.</strong> We don’t shy away from hard truths. If something is impossible, we’ll tell you. If
            something needs more time, we’ll let you know.
          </li>
          <li>
            <strong>Rigour.</strong> As equal partners in the consultancy, it’s in all of our best interests to be as efficient
            and hard-working as possible. This means we are dedicated to staying organized, communicative, and on track in
            terms of timelines and deliverables.
          </li>
        </ul>
      </GradientBorder>
    </div>
  </section>
  <CallToAction />
</DefaultLayout>
