---
import CallToAction from '@components/CallToAction.astro'
import DefaultLayout from '@layouts/DefaultLayout.astro'
import ServicesHero from '@components/ServicesHero.astro'
import FeaturesList from '@components/FeaturesList.astro'
import LineSeparator from '@components/LineSeparator.astro'
import GradientBorder from '@components/GradientBorder.astro'
import PandionDifference from '@components/PandionDifference.astro'

const heroIcons = [
  { name: 'lucide:tree-pine' }, // Forest icon
  { name: 'lucide:radar' },
  { name: 'lucide:camera' },
  { name: 'lucide:database' },
]

const features = [
  { iconName: 'lucide:trees', text: 'Forest inventories based on large scale Airborne Laser Scanning (LIDAR)' },
  { iconName: 'lucide:scan', text: 'Precision forest inventories from Terrestrial and Mobile Laser Scanners' },
  {
    iconName: 'lucide:camera',
    text: 'Drone photogrammetric image processing (tree identification, species classificaiton, dead trees detection)',
  },
  { iconName: 'lucide:satellite', text: 'Satellite Earth Observation models for object detection and classification' },
  { iconName: 'lucide:map', text: 'Wall-to-wall mapping and GIS solutions' },
  {
    iconName: 'lucide:cloud',
    text: 'Data management, cloud-native geospatial frameworks, and decision support systems',
  },
]
---

<DefaultLayout title="Code for Forests">
  <ServicesHero pretitle="Code for" title="FORESTS" icons={heroIcons}>
    Automation for sustainable precision forestry.
  </ServicesHero>

  <section class="container my-12">
    <p>
      Our foresters and data scientists produce forest inventories and conduct precision forestry using a variety of
      remote sensing and traditional techniques. We process data from terrestrial, aerial and satellite sensors to
      quantify forest biomass, species diversity, and other key parameters. We specialize in individual tree detection,
      point cloud segmentation, and using deep learning to produce automated forest models.
    </p>
    <p class="mt-4">
      We can provide end-to-end support with tailored data cleaning, cloud infrastructure, processing, analysis,
      visualization, and website production. For example:
    </p>

    <FeaturesList features={features} />
  </section>
  <LineSeparator />
  <PandionDifference />
</DefaultLayout>
