---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/Hero.astro'
import Feature from '@components/Feature.astro'
import Team from '@components/Team.astro'
import CalEmbed from '@components/CalEmbed.astro'
import GradientBackground from '@components/GradientBackground.astro'
import LoremIpsum from '@components/LoremIpsum.astro'
import { Link } from '@lucide/astro'
import LineSeparator from '@components/LineSeparator.astro'
---

<DefaultLayout title="Pandion Labs - Integrated Nature Analysis">
  <Hero />
  <section class="my-10" id="about">
    <GradientBackground button={{ link: '/about', linkText: 'Learn more' }}>
      <h2 class="text-center text-3xl md:text-4xl">About us</h2>
      <p class="text-xl">
        Pandion Labs is an applied research consultancy that believes that better code and data are the solution to some
        of nature's toughest challenges.
      </p>
      <p class="text-xl">
        We provide tailored data processing, production, and reporting support, with the aim of making data more
        accessible and actionable.
      </p>
      <p class="text-xl">
        We are a team of data scientists, ecologists and researchers building end-to-end solutions to inform
        sustainability projects, from raw data to dissemination.
      </p>
    </GradientBackground>
  </section>
  <section class="container my-24" id="services">
    <h2 class="mb-16 text-6xl">Our services</h2>
    <div class="grid grid-cols-2 gap-12">
      <Feature icon="lucide:bar-chart" title="Code for Science" linkTo="science">
        Precision forestry, forest inventories, and workflow digitalization of the forestry industry. We specialize in
        using remote sensing (LIDAR, spectral imagery, radar) to make forestry more efficient and sustainable
      </Feature>
      <Feature icon="lucide:trees" title="Code for Forests">
        <LoremIpsum />
      </Feature>
      <Feature icon="lucide:flower-2" title="Code for Biodiversity">
        <LoremIpsum />
      </Feature>
      <Feature icon="lucide:workflow" title="Custom tools for your needs" direction="horizontal">
        <LoremIpsum />
      </Feature>
    </div>
  </section>
  <LineSeparator />
  <section class="container my-24" id="contact">
    <div class="flex flex-col items-center gap-4 text-center">
      <h2 class="text-6xl">Interested in our services?</h2>
      <p class="text-2xl">Email us at <a href="mailto:hello@pandionlabs.dev">hello@pandionlabs.dev</a></p>
    </div>
    <div>
      <p class="text-center text-2xl">or schedule a free consultation</p>
    </div>
    <div class="m-7">
      <CalEmbed calLink="pandionlabs/consultation" elementId="cal-home" />
    </div>
  </section>

  <style>
    .avatar {
      border: 1px solid var(--border-color-subtle);
      border-radius: var(--radius-md);
      padding: var(--space-s);
    }
  </style>
</DefaultLayout>
