---
import CallToAction from '@components/CallToAction.astro'
import DefaultLayout from '@layouts/DefaultLayout.astro'
import LoremIpsum from '@components/LoremIpsum.astro'
import ServicesHero from '@components/ServicesHero.astro'
import FeaturesList from '@components/FeaturesList.astro'
import LineSeparator from '@components/LineSeparator.astro'
import Feature from '@components/Feature.astro'

const heroIcons = [
  { name: 'lucide:flask-conical' },
  { name: 'lucide:code' },
  { name: 'lucide:bar-chart-2' },
  { name: 'lucide:database' },
]

const features = [
  { iconName: 'lucide:package', text: 'Package and clean your code for publication' },
  { iconName: 'lucide:flask-conical', text: 'Write tests to automatically identify bugs' },
  { iconName: 'lucide:zap', text: 'Improve efficiency and speed' },
  { iconName: 'lucide:layers', text: "Structure your code so it's easy to maintain in the long-term" },
  { iconName: 'lucide:bar-chart-2', text: 'Support with data analysis, modelling, statistics and machine learning' },
  { iconName: 'lucide:pie-chart', text: 'Production of beautiful data visualisations' },
]
---

<DefaultLayout title="Code for Science">
  <ServicesHero pretitle="Code for" title="SCIENCE" icons={heroIcons}>
    Bridging the gap between <span class="highlight-word">scientific research</span>
    and <span class="highlight-word">software engineering </span> excellence
  </ServicesHero>

  <section class="container mt-12">
    <p>
      Open science is no longer an option in the scientific world. Our network of environmental and life scientists
      build the tools you need to solve the world's biggest scientific questions in an open and reproducible way.
      Drawing from our scientific and coding backgrounds, we provide research software engineering to transform your
      scientific code into reproducible R packages or Python modules. We improve the speed, quality, and reproducibility
      of your code; helping you bridge the gap between your scientific research and the latest innovations in software
      engineering.
    </p>

    <FeaturesList features={features} />
  </section>
  <LineSeparator />
  <section id="about us" class="container my-8">
    <h2>About Us</h2>
    <p>
      Our values and <LoremIpsum n={30} />
    </p>
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-2">
      <Feature icon="lucide:trees" title="Experience" direction="horizontal">
        We bring to the table scientic experience, industry experience and strong software engineering skills. We can
        relate to your scientific experience and then
      </Feature>
      <Feature icon="lucide:flower-2" title="Values" direction="horizontal">
        <LoremIpsum n={20} />
      </Feature>
    </div>
  </section>
  <CallToAction />
</DefaultLayout>
