---
import { Icon } from 'astro-icon/components'

export interface FeatureItem {
  iconName: string
  text: string
}

export interface Props {
  features: FeatureItem[]
}

const { features } = Astro.props
---

<ul class="feature-list mt-12 grid grid-cols-1 gap-4 md:grid-cols-2">
  {
    features.map((feature) => (
      <li class="flex items-center gap-3">
        <span class="feature-icon mt-1 flex-shrink-0">
          <Icon name={feature.iconName} width="36" height="36" />
        </span>
        <span class="flex-shrink-1">{feature.text}</span>
      </li>
    ))
  }
</ul>

<style>
  .feature-icon [data-icon] {
    color: var(--brand-primary);
  }
</style>
