---
import CallToAction from './CallToAction.astro'
import ExternalLink from './ExternalLink.astro'
import Logo from './Logo.astro'

/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-20">
    <h2 class="sr-only">Footer</h2>
    <div class="container grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
      <div class="flex flex-col gap-4">
        <h3 class="text-2xl font-bold">Navigation</h3>
        <ul class="flex flex-col gap-2">
          <li><a href="/">Home</a></li>
          <li><a href="/#services">Services</a></li>
          <li><a href="/#team">Our Team</a></li>
          <li><a href="/#contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="flex flex-col gap-4">
        <h3 class="text-2xl font-bold">Our Services</h3>
        <ul class="flex flex-col gap-2">
          <li>Forest inventories and health analysis</li>
          <li>Biodiversity mapping with species distribution models</li>
          <li>Interactive data dashboards for nature monitoring</li>
        </ul>
      </div>
      <div class="flex flex-col gap-4">
        <h3 class="text-2xl font-bold">Contact</h3>
        <ul class="flex flex-col gap-2">
          <li>
            <a href="mailto:hello@pandionlabs.dev">hello@pandionlabs.dev</a>
          </li>
          <li>
            <a href="/#contact">Contact form</a>
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-4">
        <Logo loading="lazy" />
        <p class="leading-[1.75]">
          Pandion Labs is an applied research consultancy working at the intersection of data and nature. We advance
          nature insights by integrating multiple remote-sensing datasets using data science and AI.
        </p>
      </div>
    </div>
  </section>
  <section class="py-8">
    <div class="container flex flex-col gap-4 md:flex-row md:justify-between">
      <p>
        &copy; {currentYear} - Pandion Labs
      </p>
      <p>Made with ❤️ by the Pandion Labs team</p>
    </div>
  </section>
</footer>

<style>
  section {
    border-top: 1px solid var(--border-color-subtle);
  }
</style>
