---
import CallToAction from './CallToAction.astro'
import ExternalLink from './ExternalLink.astro'
import Logo from './Logo.astro'

/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container flex flex-row justify-center gap-4 md:justify-around">
      <p>
        &copy; {currentYear} - Pandion Labs
      </p>
      <a href="mailto:hello@pandionlabs.dev">hello@pandionlabs.dev</a>
    </div>
  </section>
</footer>

<style>
  section {
    border-top: 1px solid var(--border-color-subtle);
  }
</style>
