---
import CallToAction from './CallToAction.astro'
import { Icon } from 'astro-icon/components'

/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const { showCallToAction = true } = Astro.props
const currentYear = new Date().getFullYear()
---

<footer>
  {showCallToAction && <CallToAction />}
  <section class="py-8">
    <div class="container flex flex-row justify-center gap-4 md:justify-around">
      <p>
        &copy; {currentYear} - Pandion Labs
      </p>
      <a href="https://github.com/pandionlabs/pandionlabs.dev">
        <Icon name="lucide:github" />
        <span class="sr-only">Go to the GitHub page</span>
      </a>
      <a href="mailto:hello@pandionlabs.dev">hello@pandionlabs.dev</a>
    </div>
  </section>
</footer>

<style>
  section {
    border-top: 1px solid var(--border-color-subtle);
  }
</style>
