---
import Navigation from '../components/Navigation.astro'
import { SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

/**
 * Header Component
 *
 * @description A component that displays the header of the website with updated navigation
 */
---

<header>
  <SkipLink />
  <Navigation>
    <li class="menu-item">
      <a href="/#about">About</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">
        Services
        <Icon name="lucide:chevron-down" size="32" />
      </button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/science">Science</a>
        </li>
        <li class="submenu-item">
          <a href="/forest">Forest</a>
        </li>
        <li class="submenu-item">
          <a href="/biodiversity">Biodiversity</a>
        </li>
        <li class="submenu-item">
          <a href="/bespoke-tools">Bespoke Tools</a>
        </li>
      </ul>
    </li>
    <li class="menu-item highlight">
      <a href="/#contact">Contact Us</a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  header {
    .type-icon {
      display: block;
      margin-inline: -7px;

      svg {
        inline-size: 30px;
        block-size: 30px;
      }
    }

    .has-dropdown {
      position: relative;

      .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        border: 1px solid #ddd;
        background-color: white;
        padding: 0;
        min-width: 200px;
        list-style: none;

        .submenu-item {
          padding: 0.5rem 1rem;

          a {
            display: block;
            color: #333;
            text-decoration: none;

            &:hover {
              background-color: #f4f4f4;
            }
          }
        }
      }

      &:hover,
      &:focus-within {
        .dropdown-menu {
          display: block;
        }
      }

      button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        border: none;
        background: none;
      }
    }
  }
</style>
