---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

/**
 * Hero Component
 *
 * @description A component that displays a hero section with a title, description, and image
 */
interface Props {
  /**
   * The source URL for the image
   */
  src?: string
}
---

<section class="hero my-10 mb-25">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <slot><span class="text-gradient">PANDION LABS</span></slot>
        </h1>
        <h2 class="text-center text-4xl font-bold md:text-left">Code for Climate. Data for Nature</h2>
        <p class="text-center text-xl md:text-left">
          Bridging the gap between science, nature, and software engineering
        </p>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon" href="#services">
            <Icon name="lucide:info" />
            Learn More
          </a>
          <a class="button has-icon color-secondary" href="#contact">
            <Icon name="lucide:mail" />
            Contact Us
          </a>
        </div>
      </div>
      <div class="icon-container">
        <Icon name="hero-icon" desc="Nature analysis visualization" width={650} height={400} is:inline />
      </div>
    </div>

    <style lang="scss">
      h1 {
        text-wrap: unset;
      }
    </style>
  </div>
</section>
