---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

/**
 * Hero Component
 *
 * @description A component that displays a hero section with a title, description, and image
 */
interface Props {
  /**
   * The source URL for the image
   */
  src?: string
}
---

<section class="hero my-10 mb-25">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="justify-start text-center text-6xl font-bold md:text-left lg:text-7xl">
          <span>PANDION LABS</span>
        </h1>
        <h2 class="text-center text-4xl font-bold md:text-left">Code for Climate. Data for Nature</h2>
        <p class="text-center text-xl md:text-left">
          Bridging the gap between science, nature, and software engineering
        </p>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon" href="#services">
            <Icon name="lucide:info" />
            Learn More
          </a>
          <a class="button has-icon color-secondary" href="#contact">
            <Icon name="lucide:mail" />
            Contact Us
          </a>
        </div>
      </div>
      <div class="icon-container">
        <Icon name="hero-icon" desc="Nature analysis visualization" width={650} height={400} is:inline />
      </div>
    </div>

    <style lang="scss">
      h1 {
        text-wrap: unset;
      }

      .icon-wrapper {
        place-self: center;
        transition:
          transform var(--animation-speed-fast, 0.2s) ease-in-out,
          box-shadow var(--animation-speed-fast, 0.2s) ease-in-out;
        box-shadow: var(--elevation-3, 0 1px 3px rgba(0 0 0 / 0.12));
        border-radius: var(--radius-l, 0.75rem);
        padding: 1.25rem;
      }

      .icon-wrapper:hover {
        transform: translateY(-5px) scale(1.05);
        box-shadow: var(--elevation-3, 0 10px 20px rgba(0 0 0 / 0.15));
      }

      .icon-primary {
        /* background-color: var(--color-primary-100); */
        color: var(--color-primary-200);
      }
      .icon-secondary {
        /* filter: grayscale(100%); */
        /* background-color: var(--color-secondary-100); */
        color: var(--color-secondary-200);
      }
    </style>
  </div>
</section>
