---
import { Icon } from 'astro-icon/components'

interface IconDetail {
  /** The name of the icon (e.g., from an icon pack recognized by astro-icon). */
  name: string
  /** The link to navigate to when the icon is clicked. */
  link: string
  /** The width of the icon. Can be a string (e.g., "24px") or a number (e.g., 24). */
  width?: string | number
  /** The height of the icon. Can be a string (e.g., "24px") or a number (e.g., 24). */
  height?: string | number
  /** Optional CSS class to apply to the icon's container div for specific styling. */
  class?: string
}

const iconBigSize = {
  width: 150,
  height: 150,
}

const iconSmallSize = {
  width: 150,
  height: 150,
}

const icons: IconDetail[] = [
  // This will be rendered in a 2x2 grid
  // First Row
  { name: 'lucide:bar-chart', link: '/science', ...iconSmallSize, class: 'icon-wrapper icon-secondary order-1' },
  { name: 'lucide:flower-2', link: '/biodiversity', ...iconBigSize, class: 'icon-wrapper icon-primary order-2' },
  // Second Row
  { name: 'lucide:trees', link: 'forest', ...iconBigSize, class: 'icon-wrapper icon-primary order-4 lg:order-3' },
  {
    name: 'lucide:workflow',
    link: 'custom-solutions',
    ...iconSmallSize,
    class: 'icon-wrapper icon-secondary order-3 lg:order-3',
  },
]
---

<section class="hero my-10 mb-25">
  <div class="container">
    <div class="grid grid-cols-1 items-end gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h2 class="text-center text-3xl font-light md:text-left">Digital solutions for nature</h2>
        <h1 class="justify-start text-center text-6xl font-bold md:text-left lg:text-7xl">
          <span class="text-gradient-light">PANDION LABS</span>
        </h1>
        <p class="text-center text-xl md:text-left">
          We maximize the impact of your work by bringing software engineering and data science best practices to the
          sectors of forestry, biodiversity, and natural sciences.
        </p>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon" href="#services">
            <Icon name="lucide:info" />
            Our services
          </a>
          <a class="button has-icon color-secondary" href="#contact">
            <Icon name="lucide:mail" />
            Contact us
          </a>
        </div>
      </div>
      <div class="icon-container hidden self-center justify-self-start md:block lg:justify-self-end">
        <div class="mx-auto grid w-fit grid-cols-4 items-center justify-center gap-8 md:grid-cols-4 lg:grid-cols-2">
          {
            icons.map((icon) => (
              <a class={icon.class || ''} href={icon.link}>
                <Icon name={icon.name} width={icon.width} height={icon.height} />
              </a>
            ))
          }
        </div>
      </div>
    </div>

    <style lang="scss">
      h1 {
        text-wrap: unset;
      }

      a {
        color: inherit;
      }

      .icon-wrapper {
        place-self: center;
        box-shadow: var(--elevation-3, 0 1px 3px rgba(0 0 0 / 0.12));
        border-radius: var(--radius-l, 0.75rem);
        padding: 1.25rem;
      }

      .icon-primary {
        color: var(--color-primary-200);
      }
      .icon-secondary {
        /* use default font color */
      }
      .icon-wrapper:hover {
        transform: scale(1.08);
      }
      [data-icon] {
        opacity: 0.75;
      }
    </style>
  </div>
</section>
