---
interface Props {
  n?: number
}

const { n = 10 } = Astro.props
const loremIpsumText =
  'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'

function getLoremIpsumWords(n: number) {
  const words = loremIpsumText.split(' ')
  return words.slice(0, n).join(' ')
}

const loremIpsumWords = getLoremIpsumWords(n)
---

<p>{loremIpsumWords}</p>
