---
import GradientBorder from '@components/GradientBorder.astro'
---

<section id="the-pandion-labs-difference" class="container my-24">
  <h2 class="mb-6 text-left">The Pandion Labs difference</h2>
  <p>
    At Pandion Labs, we are a team of data scientists, software engineers, ecologists, and researchers building
    end-to-end solutions to inform sustainability projects, from raw data processing to dissemination. Our primary focus
    areas are precision forestry, biodiversity monitoring, and quantitative ecology.
  </p>
  <div class="my-12 grid grid-cols-2 gap-12">
    <GradientBorder title="Experience">
      <ul>
        <li>
          We bring over three decades of combined scientific and industry experience, as well as software engineering
          and data science skills.
        </li>
        <li>
          We can relate to your scientific experience, and we have the business savvy and tech background to supercharge
          your projects from start to finish.
        </li>
        <li>
          As a small, boutique consultancy, we can provide our clients and partners with one-on-one, personalized
          solutions that fit your needs.
        </li>
      </ul>
    </GradientBorder>
    <GradientBorder title="Values">
      <ul>
        <li>
          <strong>Science and sustainability first.</strong> We practice scientific integrity and incorporate scientific
          methods at every opportunity. We only work with partners that share our commitment to sustainability.
        </li>
        <li>
          <strong>Honesty.</strong> We don’t shy away from complexity. If something is impossible, we’ll tell you. If something
          needs more time, we’ll let you know, and we’ll be transparent about statistical uncertainty.
        </li>
        <li>
          <strong>Rigour.</strong> We ensure that our work is conducted with precision and thoughtfulness to maintain the
          highest standards of quality.
        </li>
      </ul>
    </GradientBorder>
  </div>
</section>
